<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="user" type="com.fzu.inventory_assistant.pojo.User"/>
        <typeAlias alias="goods" type="com.fzu.inventory_assistant.pojo.Goods"/>
    </typeAliases>
</configuration>